* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.color {
    margin: 40%;
}

button {
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 6vmin;
    font-size: 3vmin;
    width: 20%;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    border: 1px solid#000;
    color: #000;
    transition: .5s;
}